<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap-flex.css' />
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-dark bg-inverse">
  <!-- Navbar content -->
</nav>
    </div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
