<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <!-- <link rel='stylesheet' href='/stylesheets/milligram.min.css' /> -->
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body style="background:url('/image/footer.jpg') 0 / cover fixed">
    <div class="container">
      <div class="headerline">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
      </div>
    </div>
  </body>
</html>
