<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <!-- <link rel='stylesheet' href='/stylesheets/milligram.min.css' /> -->
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body style="background:url('/image/footer.jpg') 0 / cover fixed">
      <header>
        <h1><%= title  %><small>Mongogo: a lightweight Mongodb client.</small></h1>
      </header>
      <main>
        <baclquote>
          "卧槽你大爷这里是依据该死的引用，他什么意义也没有就是damn占了一个位置。"
          <footer>-
            <cite>这是他的作者，你不必记住他的名字</cite>
          </footer>
        </baclquote>
